body, html {
    padding: 0;
    margin: 0;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav_header {
    background: darkgoldenrod;
    height: 50px;
}
header nav {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
    padding: 0;
}
nav a {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 1px;
    padding: 0 25px;
    text-decoration: none;
}
nav a:active, nav a:hover, nav a.active {
    background: #ccc;
}

main {
    height: 100%;
    padding: 10px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
  }
  
  .card {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  }
  
  .card__header,
  .card__content {
    padding: 1rem;
  }
  
  .card__header h1,
  .card__content h1,
  .card__content h2,
  .card__content p {
    margin: 0;
  }
  
  .card__image {
    width: 100%;
  }
  
  .card__image img {
    width: 100%;
  }
  
  .card__actions {
      padding: 1rem;
      text-align: center;
  }
  
  .card__actions button,
  .card__actions a {
      margin: 0 0.25rem;
  }
  
  .btn {
    font: inherit;
    border: 1px solid #00695c;
    color: #00695c;
    background: white;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .btn:hover,
  .btn:active {
    background-color: #00695c;
    color: white;
  }





  