body, html {
    padding: 0;
    margin: 0;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    background: darkgoldenrod;
    height: 50px;
}
header nav {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
    padding: 0;
}
nav a {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 1px;
    padding: 0 25px;
    text-decoration: none;
}
nav a:active, nav a:hover, nav a.active {
    background: #ccc;
}

main {
    height: 100%;
    padding: 10px;
}